*{margin: 0;
    padding: 0;
    }

body{
    margin-top: 0px;
}
table {
    width: 1000px;
    margin: 0 auto;
    }

table tr th{
    border-bottom: 4px solid black;
}
table {
    border-collapse: collapse;
    margin: auto;
    }