/*vamos começar zerando o margin e padding para todos os navegadores,
colocaremos um estilo de texto para nosso menu e removeremos
os bullets da lista. Depois vamos definir uma borda e colocaremos
o float:"left"; para que as bordas fiquem certinhas. */

.menu *{margin: 0;
    padding: 0;
    }

.menu body{
    margin-top: 0px;
}

/* para centralizar o menu na tela*/
div {
width: 701px;
margin: 0 auto;
}

ul {
    padding-inline-start: 0px;
}

.menu{
list-style:none;
border: 1px solid #c0c0c0;
float: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;

}

/* Agora vamos estilizar os itens do menu. Utilizaremos o position:relative;
   para que futuramente possamos posicionar o submenu. */

.menu li{
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
     /*text-shadow: 1px 2px 4px rgb(63, 46, 46);*/
}

.menu li a {
    color: #333333;
    text-decoration: none;
    padding:5px 10px;
    /* quando não definido o modo de exibição pode ocorrer falha indesejavel ao exibir o elemento*/
    display: block;
    /* remover o display: block */

}

.menu li a:hover{
    background: #333333;
    color: #ffffff;
}
/* agora vamos começar a trabalhar com o submenu, vamos começar definindo a
   sua posição como absoluta (position:absolute; ), para que os itens do submenu
   não ultrapassem o seu menu pai e para que ele não interfira no fluxo dos
   elementos do menu.

   Vamos também definir cores de fundo e esconder o sub menu com o display:none;
   */

   .menu ul {
       position:absolute;
       top:25px;
       left:0px;
       background-color: #ffffff;
       display: none;
   }
   
   /* Como podemos ver, o nosso menu está quase pronto, digamos que uns 80%,
   faltando apenas exibir o submenu, vamos ver como fazemos isso? */

.menu li:hover ul {
    position:absolute;
       top:25px;
       left:0px;
       background-color: #ffffff;
    display:block;
}

/* Pronto, agora nosso submenu está aparecendo mas não está funcionando
   perfeitamente ainda, ainda falta alguns ajuste finais para que fique 100%
*/

.menu li ul li {
    border:1px solid #c0c0c0;
    display:block;
    list-style:none;
    width: 150px;
}

.texto div {    
    padding-inline-start: 0px;
}

.div-texto {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3ch;
    color: rgb(94, 0, 116);
    padding-inline-start: 0px;
    text-align: center;
}